<form asp-controller="Account" asp-action="Logout" method="post" style="display:contents">
    <button type="submit" class="btn btn-link text-danger m-0 user-account for-buy">Cerrar Sesión</button>
</form>
